<!DOCTYPE html>
<html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title id='t'>MyKronus</title>
<link REL="SHORTCUT ICON" id="favicon" HREF="images/favicon.ico">



<meta name="keywords" content="collaboration project management,task project management,online team collaboration,secure collaboration,cloud task management,project collaboration,cross platform mobile,online document repository,enterprise mobile application,enterprise mobile app,cloud collaboration,collaboration in the cloud,secure cloud collaboration,cloud documents,free collaboration online"/>
<meta name="description" content="collaborate anytime, anywhere"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="twitter:widgets:theme" content="dark">
<meta name="twitter:widgets:link-color" content="#07d8f9">
<meta name="twitter:widgets:border-color" content="#ffffff">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script type='text/javascript' src='script/colabusApp.js'></script>

</head>

	
<body>
<script type="text/javascript">


$(document).ready(function($) {
  
	var loginName1 = '<%-JSON.stringify(loginName1)%>';
    var userLoginName1 = '<%-JSON.stringify(userLoginName1)%>';
    var companyId1 = '<%-JSON.stringify(companyId1)%>';
    var checkType1 = '<%-JSON.stringify(checkType1)%>';
    ///alert(loginName1+"----"+userLoginName1+"----"+companyId1+"----"+checkType1);
    var hostname = getDomain();
    window.sessionStorage.loginName1 = loginName1;
    window.sessionStorage.userLoginName1 = userLoginName1 ;
    window.sessionStorage.companyId1 = companyId1;
    window.sessionStorage.checkType1 = checkType1;

    window.location.href = hostname+"/login";
	
});

</script>

</body>

</html>