@CHARSET "ISO-8859-1";
@CHARSET "ISO-8859-1";

body{
	background-color: #D8DDE1;
	font-family: OpenSansRegular,cabin,Arial,sans-serif; 
	- webkit-font-smoothing: antialiased;
	color: #64696F;
	overflow-x:hidden; 
}
/*************************** custom font css ***************************/
@font-face {
    font-family: 'OpenSansRegular';  /*Fo content*/
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff'),
         url('../fonts/opensans-regular-webfont.svg#opensansregular') format('svg');
}
@font-face {
    font-family: 'OpenSansSemibold';  /*For bredarum*/
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff'),
         url('../fonts/opensans-semibold-webfont.svg#opensansregular') format('svg');
}
@font-face {
    font-family: 'OpenSansItalic';    /* For date and time*/
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.woff2') format('woff'),
         url('../fonts/opensans-italic-webfont.svg#opensansregular') format('svg');
}

/************************ Label header font ************************/
@font-face {
    font-family: 'opensanscondbold';  /* for tabs and menu label*/
    src: url('../fonts/opensans-condbold-webfont.eot');
    src: url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-condbold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-condbold-webfont.woff') format('woff'),
         url('../fonts/opensans-condbold-webfont.woff2') format('woff'),
         url('../fonts/opensans-condbold-webfont.svg#opensansregular') format('svg');
}

/******************************** custom font css *****************************/

/************************ tab css override by bootstrap ************************/
.navbar-inverse{
    background-color: #fff !important;
    border-color:#fff !important;
    margin-bottom: 0px !important;
}
.nav>li>a{
    padding: 10px 48px !important;
}
.nav-tabs > li > a{
    margin-right: 0px !important;
}
.nav-tabs>li{
    border-radius:6px 6px 0px 0px !important;
}
li:first-child{
    margin-left:0px !important;
}
.container > .navbar-header{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.nav-tabs{
    border-bottom: 0px solid #000 !important;
}
.navbar{
    min-height: 0px !important;
    border-radius:0px !important;
    margin-bottom: 0px !important;
}
ul>li{
	margin-right: 5px !important;
	margin-left: 5px !important;
}
.btn{
    padding:0px !important;
}
.navbar-right {
    margin-right:-30px !important;
}
.dropdown-menu{
    border-radius:7px !important;
}

/************************ tab css override by bootstrap ************************/

/************************ popup css starts ************************/
.popUpMain{
    display:none; 
    position: absolute; 
    z-index: 5000;
    top: 7%;
}
.popUpContent{
	border: 1px solid #ccc;
	background: rgb(255, 255, 255);
	padding:15px;
	border-radius:7px;
	box-shadow: 0px -1px 9px 5px #ccc;
}
/************************ popup css ends ************************/

/************************ Common css class for whole project ************************/

  .badge{   /*For notification red button */
	/*border-radius:13px !important;
	background-color: red !important;
	border: 2px solid #fff !important;
	min-width: 27px !important;
	float: left !important;
	position: absolute !important;
	margin-left: -32px !important;
	margin-top: 10px !important;
	font-size: 1vw !important;*/
	
	background-color: rgb(255, 0, 0) !important;
    border: 2px solid rgb(255, 255, 255) !important;
    border-radius: 13vw !important;
    float: left !important;
    font-size: 1vw !important;
    margin-left: -35px !important;
	margin-top: 10px !important;
    min-width: 2.2vw !important;
    position: absolute !important;
    padding:0.9vh 0.11vw !important;
  }
.menuIconCls{
	padding: 0px;
	margin-left: 47px;
}

.defaultContainerCls{
	padding-right: 0px;
	padding-left: 0px;
}

.defaultContent{
	font-family: OpenSansRegular;
	text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    cursor:pointer;
    font-size: 13px;
}
.defaultNameDateTimestamp{
	/*font-size:9px; */
	font-size:0.7vw;
	font-family: OpenSansItalic;
	color: #a2a6a9;
}

.tabNameCls{
	margin-left: 3%;
	margin-top: 2%;
	float: left;
	font-size: 1.12vw;/*14px;*/
	font-family: opensanscondbold;
}

.breadcrumMainDiv{
	margin-top: 10px;
	margin-bottom: 10px;
}
.breadcrumImg{
	width: 25px;
	height: 25px;
	border-radius:3px;
	float: left;
    margin-right: 6px;	
}
.tabContentHeader{
	font-size:1.15vw;
	padding-top:4px;
	height:30px;
	background-color:#FFFFFF;
	background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.25));
	background-image: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.25));
	background-image: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.25));
	background-image: -ms-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.25));
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.25));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#C1C1C1');
	font-family:opensanscondbold;
	color: #747778; 
}
.tabContentSubHeader{
	margin-left: 15px;
	margin-right: 15px;
}
.tabContentHeaderName{
	padding-left: 6px;
	padding-right: 6px;
	float: left;
}
.listViewRowCls{    /*This class is for all the list view except repo.Here giving padding top for full row*/
	height: 50px;
	padding-top: 15px;
	font-size: 0.95vw;
	/*font-size:13px*/
	font-family: OpenSansRegular;
}
.listViewBorderCls{
	height: 35px;
    border-bottom: 1px solid #C1C5C8;
    margin-left: 15px;
    margin-right: 15px;
}
.docListViewRowCls{  /*This class is for all the list view except repo.Here giving padding top for perticular column*/  
	font-size: 0.95vw;
}
.docListViewBorderCls{
	height: 50px;
    border-bottom: 1px solid #C1C5C8;
    margin-left: 15px;
    margin-right: 15px;
}
.contentCls{
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 50px;
	margin-right: 50px;
	background:#fff;
	padding-bottom: 33px;
	top: 74px;
	position: relative;
}
.menuHeaderCls{
	font-family: opensanscondbold;
	font-size: 1.11vw;
	color: #fff;
	float: left;
	margin-top: 2%;
}
/************************ Common css class for whole project ************************/

/*********************** Login page css starts********************************************/

/*********************** Login page css ends********************************************/	

/************************ Landing page css  starts ************************/
.chatIcon{
	width: 30px;
	height: 30px;
	margin-top: 15px;
	cursor: pointer;
}
.pictureDiv>img{
	width: 36px;
	height: 36px;
}
#home{
	margin-top: 4px;
	width: 90px;
	height: 37px;
}
.menuLabels{  /*Landing page menu icons*/
    font-family: opensanscondbold;
    /*font-size: 17px;*/
    font-size: 1.35vw;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 15px;
    color: #767B7E;
    float: left;
}
.notfHeader{ /*Notification header*/
	font-family: opensanscondbold;
	font-size: 15px;
	color: #747778;
}
.notfSubHeader{
   margin-top:10px;
   font-family:opensanscondbold;
   /*font-size:14px;*/
   font-size:1.09vw;
   color: #747778;
}
.containerFluidCls{
	font-size: 1.3vw;
	font-family:OpenSansRegular;
}
.notfRightDivCls{
	 background-color: #fff;
	 overflow: auto;
	 position: fixed;
	 right: 0;
	 padding-right: 2px;
	 padding-bottom: 5px;
}
.MenuIcons{
    margin-bottom: 5px;
    cursor: pointer;
}
.topMenuIcon{
	width: 45px;
	height:45px;
	cursor: pointer;
}
.menuIconCls{
	padding: 0px;margin-left: 39px;
}
.headerCls{
    width: 100% !important;
}
.navbar-module{
   display: none;
}
.notfBellIcon{
    margin-right: 5px;
    margin-top: 3px;
    float: left;
}
.notfMainDiv{
	margin: 4px 0px 0px 0px;
	padding: 0px;
	border-bottom: 1px solid #E7E7E7;
	padding-bottom: 7px;
}
.notfContentCls{
   font-family: OpenSansRegular;
   float: left; 
   height: 22px; 
   width: 100%; 
   margin: 3px 0px 0px 0px;
   text-overflow: ellipsis; 
   overflow: hidden; 
   white-space: nowrap;
   cursor:pointer;
   font-size: 13px;
}
.notfMenuIcon{
	height: 28px; 
	width: 28px; 
	margin: 5px 5px 0px 0px;
}
.notfProjIcon{
	margin: 5px 7px 0px 0px; 
	height: 20px; 
	width: 20px; 
	border-radius: 2px;
	float: left;
	margin-left: 3px;
}
.notfUserImgIcon{
	height: 18px; 
	width: 18px; 
	border-radius: 2px; 
	margin: 5px 0px 0px 0px !important; 
	float: left;
}
.notfUserName{
	font-size:10px;
	margin: 7px 0px 5px 5px !important; 
	float: left;
	font-family: OpenSansRegular;
	color: #728087;
}
.userImageOption{
   float: left; 
   margin-left: 10px;
}
.userImageOptionUl>li{
   width: 100%;
   float: left;
   border-bottom: 1px solid #ccc;
   margin-left: 0px;
   padding: 6px;
   cursor: pointer;
}
.userImageOptionIcon{
   float: left;
   margin-top: 1px;
   float: left
}
.pictureDiv{
	width:40px;
	height:40px;
	margin:5px 0px 0px 8px;
	float:left;
	border: 2px solid #ffffff;
	-webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
	-moz-box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
	box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
	position:relative;
	overflow:hidden;
}
 /************************ Search icon css starts ************************/
    input[type=search] {
	background: url("../images/search-icon.png") no-repeat 9px center;
	border: solid 1px #ccc;
	padding: /*6px 5px 6px 32px;*/ 6px 10px 8px 25px;
	width: 150px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 260px;
	background-color: #fff;
	border-color: #6dcff6;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	
}

/* placeholder */
input[type=search]:-moz-placeholder {
	color: #999;
}
input[type=search]::-webkit-input-placeholder {
	color: #999;
}

/* demo B */
#demo-b input[type=search] {
	width: 15px;
	color: transparent;
	cursor: pointer;
	margin-top:10px;
}
#demo-b input[type=search]:hover {
	background-color: #fff;
}
#demo-b input[type=search]:focus {
	width: 260px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-b input:-moz-placeholder {
	color: transparent;
}
#demo-b input::-webkit-input-placeholder {
	color: transparent;
}
/************************ Search icon css ends ************************/

.transparentDiv{
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
   filter:alpha(opacity=50); 
   -moz-opacity: 0.5; 
   opacity: 0.5;
   -khtml-opacity: 0.5;
   z-index:105;
   position:fixed;
   display:none;
   background-color:#000000;
   margin:0px;
   padding:0px;
   left:0px;
   top:0px;
   right:0;
   bottom:0;
	
}
.aboutImgDiv{
   float: left; 
   height: 150px;  
   padding: 10px; 
   border-radius: 2px 2px 2px 2px;
   box-shadow: 0 0 4px 0 #000000;
}
.aboutImgLogoCls{
   float: left; margin-top: 25px;
}
/************************ Landing page css ends ************************/

/************************ Workspace css starts ************************/
.contentMainDiv{
	padding-top: 30px;
	padding-bottom: 30px;
}
.projImgMainDiv{
	margin-right:25px;
	margin-left:25px;
	cursor: pointer;
	float: left;
	height: 125px;
	width: 90px;
}
.projImageContainer{
	background-color: #FFFFFF;
	border-radius: 6px;
	box-shadow: 2px 3px 4px 0 #7a8285;
	height: 90px;
	width: 90px;
}
.prjName{
	text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    cursor:pointer;
    /*font-size: 11px;*/
    font-size:0.84vw;
    margin-top: 10px;
    font-family: OpenSansRegular;  
}

.emailContentCls{
	height: 50px;
	padding: 15px;
	border-bottom: 1px solid #C1C5C8;
}
.wrkRightImgCls{
   margin-left: 5px;
}
.actFeed{
	font-size: 0.95vw;
}
.actFeedUserIcon{
	 width:6vw;
	 height:5vh;
	 border-radius:3px;
}
.actFeedReplyUserIcon{
	 width:28px;
	 height:28px;
	 border-radius:3px;
}
.defaultExceedCls{
	text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
.userListImg{
	width: 35px;
	height: 35px;
	margin: 5px 0px 0px 0px;
	float:left;
	border: 2px solid #ffffff;
	/* -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,.35); */
	/*-moz-box-shadow: 0 0 5px 2px rgba(0,0,0,.35);*/
	/* box-shadow: 0 0 5px 2px rgba(0,0,0,.35); */
	position:relative;
	overflow:hidden;
}
.contentClsTabDiv{
	position:fixed;
    width:100%;
    z-index:100;
    background: #6C7E8C;
}
.defaultContainerClsTab{
    padding-right: 50px;
	padding-left:50px;
}
.defaultCls{
    margin: 0px;
    padding: 0px;
}
.breadcrumContent{
	/*font-size: 11px;*/
    font-size:0.84vw;
	font-family: OpenSansSemibold;
	color:#ffffff;
	padding:5px 0px 8px 0px;
	cursor: pointer;
}
.tabActive{
	background-color: #FFFFFF !important;
	color: #747778;
}
.tabInactive{
	background-color:#9EB0BC !important;
	color: #ffffff !important;
}
.defaultTabs{
	padding: 2px 0px 2px 10px;
    width: 11%;
    cursor: pointer;
}
.tabImgCls{
	float: left;
	margin-top: 2%;
	height: 2.9vh;
}
.contentMenuCls{
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 50px;
	margin-right: 50px;
	background:#fff;
	position: relative;
	top: 54px;
}
.contentMainCls{
    margin-bottom: 33px;
}
.wrkRightIcon{
	height: 3vh;
}
.projImgCls{
	width:90px;
	height:90px;
	border-radius:6px;
}
.settingIcon{
	float: right;
	position: absolute;
	width: 90px;
}
.gSharedName {
    background-color: rgb(29, 29, 21);
    clear: both;
    color: rgb(255, 255, 255);
    float: left;
    font-family: Tahoma;
    font-size: 11px;
    height: 40px;
    top: -21px;
    width: 100%;
}
/************************ Workspace css ends ************************/	

/* *********************** connect menu css starts*******************/
 .connTab{
    padding:3px 0px 4px 7px;
    width:13%;
    cursor: pointer;
 }
 .connTabIcon{
    width: 11%;
    height: 11%;
    float: left;
    margin-top: 2%;
 }
 .connTabLabel{
    float: left;
    font-size: 1.12vw !important;
    font-family: opensanscondbold;
 }
   
/************************ connect menu css ends ************************/


/************************ repository css starts ************************/
.repoSwichDriveIcon{
	 height: 3.7vh;
	 float: left;
	 margin-right: 7px;
}
.repoSwichDrive{
	font-family: opensanscondbold;
	font-size: 1.11vw;
	color: #fff;
	float: left;
	margin-top: 5%;
}

/************************ repository css ends ************************/

/************************ myzone css starts ************************/
.noteImgMainDiv{
	margin-right:25px;
	margin-left:25px;
	cursor: pointer;
	float: left;
	height: 220px;
	width: 135px;
}

.noteImageContainer{
	background-color: #FFFFFF;
	border-radius: 6px;
	box-shadow: 2px 3px 4px 0 #7a8285;
	float: left;
	height: 185px;
	width: 135px;
}

.blogImgMainDiv{
	margin-right:25px;
	margin-left:25px;
	cursor: pointer;
	float: left;
	height: 173px;
	width: 138px;
}

.blogImageContainer{
	background-color: #FFFFFF;
	border-radius: 6px;
	box-shadow: 2px 3px 4px 0 #7a8285;
	float: left;
	height: 138px;
	width: 138px;
}

.galleryImgMainDiv{
	margin-right:25px;
	margin-left:25px;
	cursor: pointer;
	float: left;
	height: 245px;
	width: 335px;
}

.galleryImageContainer{
	background-color: #FFFFFF;
	border-radius: 6px;
	box-shadow: 2px 3px 4px 0 #7a8285;
	float: left;
	width:335px;
	height:210px;
}
.noteSettingIcon{
	float: right;
	position: absolute;
	width: 135px;
}
.noteImgDiv{
	width:135px;
	height:185px;
	border-radius:6px;
}

.blogSettingIcon{
	float: right;
	position: absolute;
	width: 135px;
}
.blogImgDiv{
	width:138px;
	height:138px;
	border-radius:6px;
}

.gallerySettingIcon{
	float: right;
	position: absolute;
	width: 28.7%;
}
.galleryImgDiv{
	width:335px;
	height:210px;
	border-radius:6px;
}
/************************ myzone css ends ************************/

/********************** Analytics css start *********************/
.reportImgCls{
	width:90px;
	height:90px;
	border-radius:6px;
}
.reportImgMainDiv{
	cursor: pointer;
	float: left;
	height: 125px;
	width: 90px;
	margin-right:25px;
	margin-left:25px;
}
.reportImageContainer{
    background-color: #FFFFFF;
	border-radius: 6px;
	float: left;
	height: 90px;
	width: 90px;
}
/********************** Analytics css ends *********************/

/* Vertical Offset Bottom */
.vert-offset-top-12{
    margin-top: 12em;
}
.vert-offset-top-11{
    margin-top: 11em;
}
.vert-offset-top-10{
    margin-top: 10em;
}
.vert-offset-top-9{
    margin-top: 9em;
}
.vert-offset-top-8{
    margin-top: 8em;
}
.vert-offset-top-7 {
    margin-top: 7em;
}
.vert-offset-top-6{
    margin-top: 6em;
}
.vert-offset-top-5{
    margin-top: 5em;
}
.vert-offset-top-4{
    margin-top: 4em;
}
.vert-offset-top-3{
    margin-top: 3em;   
}
.vert-offset-top-2{
    margin-top: 2em;
}
.vert-offset-top-1{
    margin-top: 1em;
}
.vert-offset-top-0{
    margin-top: 0em;
}

/* Vertical Offset Bottom */
.vert-offset-bottom-12{
    margin-bottom: 12em;
}
.vert-offset-bottom-11{
    margin-bottom: 11em;
}
.vert-offset-bottom-10{
    margin-bottom: 10em;
}
.vert-offset-bottom-9{
    margin-bottom: 9em;
}
.vert-offset-bottom-8{
    margin-bottom: 8em;
}
.vert-offset-bottom-7{
    margin-bottom: 7em;
}
.vert-offset-bottom-6{
    margin-bottom: 6em;
}
.vert-offset-bottom-5{
    margin-bottom: 5em;
}
.vert-offset-bottom-4{
    margin-bottom: 4em;
}
.vert-offset-bottom-3{
    margin-bottom: 3em;
}
.vert-offset-bottom-2{
    margin-bottom: 2em;
}
.vert-offset-bottom-1{
    margin-bottom: 1em;
}
.vert-offset-bottom-0{
    margin-bottom: 0em;
}
@media (min-width: 280px) and (max-width:950px) {
.tabNameCls{
    font-size:0.9vw;
 }
 
}

@media (min-width: 550px) and (max-width: 680px){
.tabImgCls{
    height:1.9vh;
 }
}
@media (min-width: 1440px){
	.badge{
	   margin-left:-44px !important; 
	}
}
@media (min-width: 1920px){
	.badge{
	   margin-left:-44px !important; 
	}
}
