
.contentResizeTest{
    margin:  auto;
    position: relative;
    width: 980px;
}
.allContent{
	height: 680px;
	width: 980px;
	margin-bottom: 20px;
}
.allContentOthers{
	height: auto;
	width: 980px;
}
.headerTest{
	 background-color: white;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 0 15px #000000;
    height: 65px;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.defWidthTest {
    border-radius: 5px 5px 5px 5px;
    border-top: medium none !important;
    background-color: #6D6D6B;
}
.contentsTit{
	padding-top: 100px;
}

.content {
    margin: 0 auto;
    min-width: 1012px;
    width: 1012px;
}

body {
    font-size: 1em;
    line-height: 1.4;
}
html, button, input, select, textarea {
    color: #222222;
    font-family: sans-serif;
}
html {
    font-size: 100%;
}
.menuLogoTest {
    float: left;
    margin-top: -13px;
    width: 180px;
    margin-top: 1px;
}
.topContentsTest {
    height: 350px;
    padding-top: 100px;
}
.ContentBodyTest {
    background: none repeat scroll 0 0 #6D6D6B;
    overflow: hidden;
}

*:after, *:before {
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:after, *:before {
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 0 15px #000000;
    height: 65px;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Abel';
}
header {
    background-color: white;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav123, section {
    display: block;
}
body {
    font-size: 1em;
    line-height: 1.4;
}
html, button, input, select, textarea {
    color: #222222;
}
html {
    font-size: 100%;
}
/*#nav a, #nav a:visited {
    color: #999999;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: none;
}*/
.featuresTopBarTest {
    background-color: #fff;
    border-bottom: 1px solid #CCCCCC;
    height: 50px;
    width: 100%;
}
.featureTabRightTest {
    background-color: #fff;
    float: left;
    height: auto;
    margin: 0 5px 5px 0;
    width: auto;
}
.res {
    border-radius: 5px 5px 10px 10px;
    overflow: hidden;
    background-color: #fff;
}
.dispContTest {
    float: left;
    /*overflow: auto;*/
    /*width: 975px;*/
    width: 940px;
    height: auto;
}

/*---------------------- Pricing ----------------------*/

.pricingFeatTest {
    background-color: #FFFFFF;
    border: 1px solid #E4DADA;
    height: auto;
    margin-bottom: 45px;
    overflow: hidden;
    width: 964px;
}
.imgMarginTest {
    float: right;
    margin-right: 30px;
}
.featuresTopBarNewsTest {
    background-color: #fff;
    border-bottom: 1px solid #CCCCCC;
    height: 50px;
    width: 100%;
}
#nav a:hover{color:#35C0EC;}
.stanBusInfoHtml {
    margin: 10px;
    margin-top: 0px;
}
