@CHARSET "ISO-8859-1";

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    	background: none repeat scroll 0 0 #A6A690;
	}
	.totalScrollOffset{height:50px; background:#fc0;}  