/* --------------------------
:: Template Name: Colorlib App - App Landing Page 
:: Template Author: Colorlib
:: Template Author URI: https://colorlib.com/
:: Description: Colorlib is a One Page based App Landing Template. It's very clean, creative & beautiful. It's super     responsive & ultra light.
:: Tags: Colorlib, App Landing, Apps, Responsive App Landing, Bootstrap 4, Free Theme, Free HTML Template, HTML5 Template etc.
:: Version: v1.0
:: Created: 11/03/2017
-------------------------- */

/* --- [Master Stylesheet] ----
:: 1.0 Base CSS Start
:: 2.0 Header Area CSS
:: 3.0 Wellcome Area CSS
:: 4.0 Special Area CSS
:: 5.0 Features Area CSS
:: 6.0 Video Area CSS
:: 7.0 Cool Facts Area CSS
:: 8.0 Screenshots Area CSS
:: 9.0 Pricing Plan Area CSS
:: 10.0 Testimonials Area CSS
:: 11.0 CTA Area CSS Start
:: 12.0 Team Area CSS Start
:: 13.0 Contact Area CSS Start
:: 14.0 Footer Area CSS Start
-------------------------- */

@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Montserrat:400,500,700');
@import 'styles/subCss/bootstrap.min.css';
@import 'styles/subCss/animate.css';
@import 'styles/subCss/magnific-popup.css';
@import 'styles/subCss/owl.carousel.min.css';
@import 'styles/subCss/slick.css';
@import 'styles/subCss/font-awesome.min.css';
@import 'styles/subCss/themify-icons.css';
@import 'styles/subCss/ionicons.min.css';

/* --------------------------
:: 1.0 Base CSS Start
-------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
	font-family: "Poppins","Roboto","Helvetica","Arial",sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    outline: none;
   /*  font-family: 'Roboto', sans-serif;
    background-color: #fff; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
}

.section_padding_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section_padding_100_50 {
    padding-top: 100px;
    padding-bottom: 50px;
}

.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.section_padding_50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section_padding_50_20 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.section_padding_150 {
    padding-top: 150px;
    padding-bottom: 150px;
}

.section_padding_200 {
    padding-top: 200px;
    padding-bottom: 200px;
}

.section_padding_0_100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section_padding_70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section_padding_0_50 {
    padding-top: 0;
    padding-bottom: 50px;
}

.section_padding_intro {
    padding-top: 0;
    padding-bottom: 50px;
	border-bottom: 2px solid #0feae0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-100 {
    margin-right: 100px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-100 {
    margin-left: 100px;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

#scrollUp {
    bottom: 0;
    font-size: 24px;
    right: 30px;
    width: 50px;
    background-color: #fb397d;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

li {
    list-style: none;
}

p {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
}

.heading-text > p {
    font-size: 16px;
}

.section-heading > h2 {
    font-weight: 300;
    color: #5b32b4;
    font-size: 48px;
    margin: 0;
}


.section-heading {
    margin-bottom: 60px;
}

.line-shape-white,
.line-shape {
    width: 80px;
    height: 2px;
    background-color: #fb397d;
    margin-top: 15px;
}

.line-shape {
    margin-left: calc(50% - 40px);
}

.table {
    display: table;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

#preloader {
    overflow: hidden;
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.colorlib-load {
    -webkit-animation: 2000ms linear 0s normal none infinite running colorlib-load;
    animation: 2000ms linear 0s normal none infinite running colorlib-load;
    background: transparent none repeat scroll 0 0;
    border-color: #dddddd #dddddd #fb397d;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 40px;
    left: calc(50% - 20px);
    position: relative;
    top: calc(50% - 20px);
    width: 40px;
    z-index: 9;
}

@-webkit-keyframes colorlib-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes colorlib-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* --------------------------
:: 2.0 Header Area CSS
-------------------------- */

.header_area {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 0;
    padding: 0 4%;
}

.menu_area .navbar-brand {
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    line-height: 1;
    padding: 0;
	margin-top: -27px;
}


.menu_area .navbar-brand:hover,
.menu_area .navbar-brand:focus {
    color: #fff;
}


.menu_area {
    position: relative;
    z-index: 2;
}

.menu_area #nav .nav-link {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 35px 15px;
}


.menu_area nav ul li > a:hover {
    color: #fb397d;
}

.sing-up-button {
    text-align: right;
}

.sing-up-button > a {
    color: #000000;
	font-size: 14px;
    display: inline-block;
    /*border: 2px solid #a883e9;*/
	border: 2px solid #0feae0;
    background: #0feae0;
    height: 30px;
    min-width: 178px;
    line-height: 30px;
    text-align: center;
	border-radius: 7px;
    /*border-radius: 24px 24px 24px 0px;*/
}

.sing-up-button > a:hover {
   /*  background: #fb397d; */
    color: black;
    border-color: transparent;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

/* stcicky css */

.header_area.sticky {
    background-color: #103a5b;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 99;
	/* opacity: 0.9; */
}

.header_area.sticky .menu_area .navbar-brand {
    font-size: 60px;
}

.header_area.sticky .menu_area #nav .nav-link {
    padding: 23px 15px;
}
.header_area.sticky .navbar {
    padding: 0;
}


/* --------------------------
:: 3.0 Wellcome Area CSS
-------------------------- */

.wellcome_area {
    background-image: url(images/website/img/bg-img/welcome-bg.png);
    height: 900px;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
}

.wellcome_area:after {
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #fff;
    content: '';
    bottom: 0;
    z-index: 2;
}

.welcome-thumb {
    width: 45%;
    position: absolute;
    bottom: 275px;
    right: 85px;
    z-index: 9;
}

.welcome-thumb-notify {
    width: 45%;
    position: absolute;
    bottom: 375px;
    right: 85px;
    z-index: 9;
}

.welcome-thumb img {
    height: auto;
    width: 100%;
}

.wellcome-heading > h2 {
    font-size: 75px;
    color: #ffffff;
    font-weight: 550;
    position: relative;
    z-index: 3;
}
.welcome-main{
	font-size: 45px;
    color: #ffffff;
    font-weight: 700;
    position: relative;
    z-index: 3;
	/* font-family: sans-serif;*/
}
.wel-sub {
	font-size: 35px;
    color: #ffffff;
    position: relative;
    z-index: 3;
	line-height: 1.1;
}

.get-start-area .email {
    background: #ffffff;
    height: 40px;
    max-width: 225px;
    /* border: none; */
    border-radius: 7px;
    padding: 0px 15px;
    border: 2px solid #0feae0;
}

.form-control::-webkit-input-placeholder {
    color: #7b7e8c;
	font-weight: none;
	text-align: left;
	text-transform: none;
}

.form-control:-moz-input-placeholder {
    color: #7b7e8c;
	font-weight: none;
	text-align: left;
	text-transform: none;
  
}

.form-control:-o-input-placeholder {
    color: #7b7e8c;
	font-weight: none;
	text-align: left;
	text-transform: none;
  
}

.form-control::-ms-input-placeholder {
    color: #7b7e8c;
	font-weight: none;
	text-align: left;
	text-transform: none;
}

.form-control::placeholder {
    color: #7b7e8c;
	font-weight: none;
	text-align: left;
	text-transform: none;
}

.get-start-area .email:focus {
    border: none;
    outline-offset: transparent !important;
    border-radius: 30px;
}

.get-start-area .submit {
    background-color: #fb397d;
    color: #111;
    /* font-weight: 745; */
    font-size: 18px;
    display: inline-block;
    border: none;
    height: 40px;
    min-width: 175px;
    line-height: 30px;
    text-align: center;
    /* border-radius: 24px 24px 24px 0px; */
    border-radius: 7px;
    /* margin-left: 10px; */
    background: #0feae0;
    /* font-family: sans-serif; */
}

.get-start-area .submit:hover {
    /* background: #6f52e5;
    color: #fff; */
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.wellcome-heading > p {
    color: #fff;
	margin-top: 15px;
	font-size: 22px;
	width: 90%;
	line-height: 1.6;
}

.wellcome-heading > h3 {
    font-size: 332px;
    position: absolute;
    top: -134px;
    font-weight: 900;
    left: -12px;
    z-index: -1;
    color: #fff;
    opacity: .1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.wellcome-heading {
    margin-bottom: 50px;
	line-height: 1.0;
}

::-webkit-input-placeholder {
 font-size: 14px;
 color: #d0cdfa;
 text-align: center;
 font-weight: none;
 opacity: 1;
}

::-moz-placeholder { 
 font-size:14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: none;
 opacity: 1;
}

::-ms-input-placeholder { 
 font-size: 14px; 
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: none;
 opacity: 1;
}

.wellcome_area_product {
    background-image: url(images/website/img/bg-img/welcome-bg.png);
    height: 200px;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
}

.wellcome_area_reglogin {
    background: #103a5b;
    height: 82px;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
}

.section-heading-product{
	font-size: 50px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sub-heading-product{
	font-size: 20px;
}

.get-start-area-product{
	margin: auto;
    width: 60%;
    padding: 35px;
}

.get-start-area-product-plan{
	margin: auto;
    width: 100%;
    padding: 15px 15px 15px 15px;
}

.get-start-area-product-plan .email {
    height: 30px;
    width: 160px;
    /* border: none; */
    border-radius: 7px;
    padding: 0px 15px;
    border: 1px solid #fb397d;
}

.get-start-area-product-plan .submit {
    background-color: #fb397d;
    color: black;
    font-size: 16px;
    display: inline-block;
    border: none;
    height: 30px;
    width: 90px;
    line-height: 30px;
    text-align: center;
    /* border-radius: 24px 24px 24px 0px; */
    border-radius: 7px;
    margin: auto;
    cursor: pointer;
    background: #0feae0;
}
.get-start-area-product .email {
    height: 40px;
    width: 400px;
    /* border: none; */
    border-radius: 7px;
    padding: 0px 15px;
    border: 2px solid #fb397d;
}


.get-start-area-product .submit {
    background-color: #fb397d;
    color: #111;
    /* font-weight: 800; */
    font-size: 20px;
    display: inline-block;
    border: none;
    height: 40px;
    min-width: 150px;
    line-height: 30px;
    text-align: center;
    /* border-radius: 24px 24px 24px 0px; */
    border-radius: 7px;
    margin: auto;
    cursor: pointer;
    background: #0feae0;
}

.section_padding_intro_product {
    padding-top: 0;
    padding-bottom: 50px;
}

.questions-description > p{
	font-size: 20px;
	color: black;
	border-bottom: 1px solid;
}

.answer-description > p{
    color: black;
    font-size: 16px;
    border-bottom: 1px solid;
	padding-bottom: 20px;
	
}

.faq-symbol{
	float: right;
}

.pricing-minus{
	display: none;
}


.accordion{
	color: black;
}
.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #000000;
  font-size: 18px;
  border-bottom: 1px solid #000000;
}

.accordion a:hover{
  cursor: pointer;
  color: #000000;
}
.accordion a:hover::after {
  cursor: pointer;
  color: #17a2b8;
}

.accordion a:hover::after {
  border: none;
}

.accordion a.active {
  color: #000000;
  border-bottom: 1px solid #000000;
}

.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1.5rem;
  color: #17a2b8;
  padding: 5px;
  width: 30px;
  height: 30px;
  /*-webkit-border-radius: 50%;
  -moz-border-radius: 50%;
   border-radius: 50%;
  border: 1px solid #7288a2; */
  text-align: center;  
}

.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #17a2b8;
  border: none;
} 

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #000000;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  color: black;
  text-align: justify;
  line-height: 1.8;
  /* font-weight: 300; */
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

.content.show {
  margin-top: 15px;
  opacity: 1;
  max-height: 800px;
}
.content.hide {
  opacity: 0;
  height: 0;
}
/* .custom-arrows{
	display: inline-flex;	
	margin-left: 74vw;
}

.left-arrow{
	margin-right: 15px;
} */
/* Slick Slider */

/* .slick-slide {
    padding:10px;
    text-align:center;
    margin-right:15px;
    margin-left:15px;
	width: 900px; */
	/* opacity: 0.5; */
	/* cursor: pointer;
	border: none;
} */
	
	
/* div[class="clip slick-slide slick-current slick-active slick-center"] {
      opacity: 1; */
	  /* border: 2px solid; */
/* }

div[class="clip slick-slide"] {
      opacity: 0.5;
}
div[class="clip slick-slide slick-cloned"] {
      opacity: 0.5;
}

.carousel-cont{
	margin-top: 25px;	
} */

/*Vertical Sliding*/
.slidingVertical{
	display: inline;
	text-indent: 8px;
}

/*  .word-slicks{
	width: 200px !important;
}  */


div[class="word-slicks slick-slide slick-current slick-active"] {
      opacity: 1;
}

div[class="word-slicks slick-slide"] {
      opacity: 0;
} 

div[class="word-slicks slick-slide slick-cloned"] {
      opacity: 0;
} 
.section_padding_intro_product {
    padding-top: 0;
    padding-bottom: 50px;
	padding-top: 50px;
}
.product-info-slick{
	margin-top: 50px;
	margin-bottom: 50px;
}

.product_feature_one{
	line-height: 1.8;
}

.product_feature_one p{
	color: black;
	font-size: 20px;
}

.product_feature_one span{
	font-weight: bold;
}

.product_feature_list{
	margin-left: 2em;
}

.product_feature_list li{
	list-style:disc !important;
}

.bg_shaded{
	background-color:#ddd;
}

.best_feature_one{
	line-height: 1.4;
	margin-bottom: 15px;
}

.best_feature_one span{
	font-size: 30px;
	font-weight: 500;
	color: black;	
}

.best_feature_one p{
	margin-top: 10px;
	line-height: 1.8;
	font-size: 22px;
	color: black;
	
}

.section_padding_intro_features {
    padding-bottom: 10px;
	padding-top: 50px;
}

/* .slidingVertical span{
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
	color: #00abe9;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
} */

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

/* --------------------------
:: 4.0 Special Area CSS
-------------------------- */

.single-icon > i {
    font-size: 36px;
    color: #fb397d;
}

.single-special > h4 {
    font-size: 22px;
    color: #5b32b4;
}

.single-icon {
    margin-bottom: 25px;
}

.single-special > h4 {
    font-size: 22px;
    color: #5b32b4;
    margin-bottom: 15px;
}

.single-special {
    border: 1px solid #eff2f6;
    padding: 40px;
    border-radius: 40px 40px 40px 0px;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    margin-bottom: 30px;
}

.special_description_content > h2 {
    color: #5b32b4;
    font-size: 48px;
    margin-bottom: 30px;
}

.single-special:hover {
    -webkit-box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
            box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
}

.single-special p {
    margin-bottom: 0;
}

.app-download-area {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 1;
    flex-basis: 1;
    margin-top: 50px;
}

.app-download-btn a {
    border: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 30px;
    border-radius: 30px 30px 30px 0;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.app-download-btn.active a,
.app-download-btn a:hover {
    border-color: transparent;
    background-color: #fb397d;
}

.app-download-btn a i {
    color: #47425d;
    font-size: 24px;
    margin-right: 15px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.app-download-btn a p {
    font-size: 16px;
    line-height: 1;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.app-download-btn a p span {
    font-size: 12px;
    display: block;
}

.app-download-btn:first-child {
    margin-right: 20px;
}

.app-download-btn a:hover i,
.app-download-btn.active a i,
.app-download-btn.active a p,
.app-download-btn a:hover p {
    color: #fff;
}

/* --------------------------
:: 5.0 Features Area CSS
-------------------------- */

.single-feature {
    margin-bottom: 50px;
}

.single-feature > p {
    margin-bottom: 0;
}

.single-feature1 > img{
	height: 225px;
    width: 450px;
    margin-left: 5%;
}

.single-feature2{
	margin-top: 3vh;
	min-width: 100%;
}

.single-feature2 > h5 {
	letter-spacing: -1px;
    display: inline-block;
    font-weight: 700;
    font-size: 45px;
	color: #3dcff1;
    /* background: -webkit-gradient(linear, left top, right top, from(#07B2C2), color-stop(20%, #07B2C2), color-stop(40%, #6E7EE4), color-stop(60%, #6E7EE4), color-stop(80%, #906DF0), to(#B15DFB));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.single-feature2 > p {
    font-size: 40px;
    display: inline-block;
	color: #3dcff1;
    /* background: -webkit-gradient(linear, left top, right top, from(#07B2C2), color-stop(20%, #07B2C2), color-stop(40%, #6E7EE4), color-stop(60%, #6E7EE4), color-stop(80%, #906DF0), to(#B15DFB));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.single-best-feature1{
    min-width: 100%;
    min-height: 100%;
	text-align: center;
	background: #0D2241;
}

.single-feature2 > span {
	font-weight:bold;
	font-size: 16px;
	line-height: 1.8;
}
.single-feature > i {
    color: #fb397d;
    font-size: 30px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.single-feature > h5 {
    font-size: 22px;
    color: #5b32b4;
}

.single-feature > p {
    margin-top: 15px;
}

.single-best-feature2 > p{	
    display: inline-block;
    font-size: 50px;
	color: #3dcff1;
   /*  background: -webkit-gradient(linear, left top, right top, from(#07B2C2), color-stop(20%, #07B2C2), color-stop(40%, #6E7EE4), color-stop(60%, #6E7EE4), color-stop(80%, #906DF0), to(#B15DFB));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.single-best-feature2 {
	margin-bottom: 8vh;
	text-align: center;
}
.single-best-feature2 > span{
	font-size: 22px;
    font-weight: 600;
}

.single-best-feature-cont > h6 > img{
	padding-right: 8px;
}

.single-best-feature-cont > p{
	/* font-family: sans-serif; */
    font-size: 16px;
	margin-left: 47px;
    margin-top: -5px;
	margin-bottom: 7vh;
	color: black;
}

.single-best-feature-cont > span{
	font-weight: bold;
    padding-left: 8px;
	font-size: 16px;
}

.single-best-feature-cont{
	display: -webkit-inline-box;
	margin-top: 15px;
    margin-bottom: 15px;
}
.sub-div-feature-cont span{
	font-weight: bold;
	line-height: 1.8;
}

.form-features{
	display: unset;
}

.sub-Bg-getstarted-features{
	margin-top: 15px;
}
.sub-div-feature{
	/* display: inline; */
}

.sub-div-feature-cont{
	margin-left: 10px;
	width: 90%;
}

.getstarted_features span{
	color: #3FD2FF;
	font-size: 26px;
	font-weight: 600;
}

.getstarted_features p{
	color: black;
	font-size: 20px;
}

.sub-div-feature-cont p{
	color:black;
	line-height: 1.8;
}

.rownew{
	margin-top:100px;
}
.rownew1{
	background: #895ee6;
	height:50%;
}


.single-teams> p{
	margin:15px;
    display: inline-block;
    font-weight: 700;
    font-size: 40px;
	color:white;
    /* background: -webkit-gradient(linear, left top, right top, from(#07B2C2), color-stop(20%, #07B2C2), color-stop(40%, #6E7EE4), color-stop(60%, #6E7EE4), color-stop(80%, #906DF0), to(#B15DFB));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
	
}

.coylogo{
	margin-right: 35px;
	margin-bottom:6px;
}

.tollogo{
	width: 60px;
    height: 60px;
}

.toolslogo{
	margin-top:10px;
	margin-right: -10px;
}

.getStarted-area{
	background-image: url(images/website/img/bg-img/images/subBG.png);
    height: 680px;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover
}
.get-startedfor-image{
	padding: 150px 0px 0 150px;
}

.project-colabusAI{
	padding: 180px 0px 0 95px;
	text-align: center;
}

.sub-head-collaborate{
	font-weight: 600 !important;
    font-size: 30px !important;
	color: white !important;
}

.project-colabusAI > p{
    font-weight: 700;
    font-size: 40px;
	color: white;
}
.project-colabusAI > span{
    font-size: 25px;
	color: white;
	margin-bottom: 10px;
}



.sub-Bg-getstarted{
	margin-top: 75px;
}


.colintegrate> h5{
	margin-left:30px;
    display: inline-block;
    font-weight: 700;
    font-size: 35px;
    background: -webkit-gradient(linear, left top, right top, from(#07B2C2), color-stop(20%, #07B2C2), color-stop(40%, #6E7EE4), color-stop(60%, #6E7EE4), color-stop(80%, #906DF0), to(#B15DFB));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.colintegrate > span{
	margin-left:30px;
	margin-bottom: 30px;
    display: inline-block;
    font-weight: 700;
    font-size: 35px;
	color:#3dcff1;
}

.colintegrate> p{
	line-height: 1.2;
	margin-left:30px;
    color:#3dcff1;
    font-size: 50px;
}

.colintegrate> div{
	margin-left:30px;
    color:#2B5582;
    font-size: 25px;
}

.colintegrate{
	margin-top:50px;
}

.row-integrate{
	display: flex;
    flex-wrap: wrap;
		
}

.button-more{
	border-radius: 7px;
    width: 100px;
    font-weight: 900;
	background-color: #ffc107;
    border: none;
    color: #4e2b1a;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;	
}
.button-div{
	margin-left: 30px;
}

.single-special-colintegrate{
	margin-top: 35px;
	height:350px;
	width:auto;
}

.single-special-colintegrate> h4{
	line-height: 2.5;
    width: 80%;
    margin-top: 15px;
    font-size: 20px;
    margin-left: 25px;
    font-weight: 600;
    border-bottom: 1px solid black;
	
}

.single-special-colintegrate> p{
	border-bottom: 1px solid black;
	width: 80%;
	margin-left: 25px;
}

.coyintlogo{
	margin-left:25px;
	margin-bottom:50px;	
	width: 80%;
}

.best_feature_one> a{
	color: #3dcff1;
	font-size: 18px;
	text-decoration:underline;
}

.product_feature_one> a{
	color: #3dcff1;
	font-size: 18px;
	text-decoration:underline;
}

.video-embed{
	display: inline-block;
	margin-top:50px;
	margin-right:15px;
	height: 150px;
	width: 300px;
}

.video-embed-tool{
	display: inline-block;
    text-align: center;
    margin-top: 25px;
    height: 280px;
    width: 500px;
}

.row-social-more{
	/* background:#883CE1;
	height: 400px; */
	margin-top:50px;
}

.row-pricing-plan{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    justify-content: center;
}
.more-options-area{
	/* background-image: url(img/bg-img/images/footerbg.png); */
	background-color: blueviolet;
    /* height: 450px; */
	height: 100%;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover
}
.ctour{
    /* margin-right: 28px;
	width: 130px; */
	width: 20%;
    color: white;
	display:inline-block;
}

.ctour-sub{
	padding: 35px 0 0 0px;
    color: white;
	display:inline-block;
}
.ctour-social{
	padding: 10px 0 10px 0px;
    color: white;
    display: inline-block;
}
.ctour-sub p{
	color:white;
	font-size: 16px;
}

.ctour>h4{
	color: white;
    font-size: 16px;
    font-weight: 700;
	margin-bottom:24px;
    /* font-family: sans-serif; */
}

/* .extra-options{
	padding: 215px 0 0 50px;
} */

   .options-extra{
	   /* margin-top: 150px; */
	   padding: 95px 64px 0 0px;
   }
   
  .app-store-image{
	  height: 34px;
  }

.clinks{
	font-size: 14px;
    /* font-family: sans-serif; 
    font-weight: 600;*/
	padding-left: 2px;
}
.list-options{
	margin-bottom: 24px;
}

.copt{
	padding-top:30px;
}

.appgets{
	display: inline-block;
    border-right: 1px solid white;
    height: 300px;
}

.bot{
	float: left;	
    padding: 0px 0px 130px 0px;
}

.bot>p{
	color:white;
}

.section_padding_intro1 {
    padding-top: 0;
	/*border-bottom: 2px solid #999999;*/
}

.section_padding_intro2{
	padding-top: 0;
}

/* .section_padding_intro4 {
	border-bottom: 2px solid #999999;
} */

.footer1{
  bottom: 0;
  width: 100%;
  /* height: 100px; *//* Set the fixed height of the footer here */
  /* line-height: 60px; */ /* Vertically center the text there */
  background-color: #1E1767;
}


.dividerline{
	margin-top: 10vh;
}

.dividerlinesoc{
	margin-top: 25px;
	border-bottom: 1px solid white;
    margin-right: -39px;
    margin-left: -15px;
}

.ctour p{
	color:white;
}

.socimgdiv {
	margin-top:20px;
	font-size:4vh;
	font-weight: 600;
	
}

.companylogo{
	padding: 3%;
}
 
.pricing-plan-head{
	font-size: 40px;
	color: black;
}

.pricing-plan-sub{
	font-size: 22px;
	color: black;
	padding: 10px 50px 0px 50px;
	line-height: 1.6;
}

.pricing-plan-sub-two{
	 font-size: 25px;
	 color: black;
	 font-weight: 600;
}
 
.price-plan-head-colored{
	color: #A60F7A;
}
 
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container1{
  width: auto;
  padding: 0 15px;
  margin: 20px;
}
/* --------------------------
:: 6.0 Video Area CSS
-------------------------- */

.video-area {
    position: relative;
    z-index: 1;
	background-size: cover;
    /* background-position: center center;
    border: 20px solid #fff;
    border-radius: 20px;
    height: 650px; 
    height: 235px;
    -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08); */
}

.video_play_area{
	position: relative;
	margin: auto;
}

.modal-dialog{
	/* margin-top: 10em; */
}
/* .video-area:after {
    position: absolute;
    content: "";
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border: 1px solid #f1f4f8;
    z-index: 2;
    border-radius: 20px;
} */

.slider-words{
	margin-top: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
}

.slider-division{
	margin-top: 35px;
    margin-bottom: 35px;
}

.slider-bg-color{
	background: #001C3D;
}

.video-area .video-play-btn a {
    width: 80px;
    height: 80px;
    background-color: #fb397d;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 36px;
    line-height: 80px;
    padding-left: 5px;
    border-radius: 50%;
    top: 50%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
}

.video-area .video-play-btn a:hover {
    background-color: #a865e1;
    color: #fff;
}

.row-customer-vd > img{
	height: 200px;
	margin-bottom: 10px;
    margin-right: 10px;
	
}

/* --------------------------
:: 7.0 Cool Facts Area CSS
-------------------------- */

.cool_facts_area {
    position: relative;
    z-index: auto;
    background: #a865e1;
    background: -webkit-linear-gradient(to left, #7873ed, #a865e1);
    background: -webkit-linear-gradient(right, #7873ed, #a865e1);
    background: -webkit-gradient(linear, right top, left top, from(#7873ed), to(#a865e1));
    background: -o-linear-gradient(right, #7873ed, #a865e1);
    background: linear-gradient(to left, #7873ed, #a865e1);
    padding: 180px 0 80px 0;
    top: -100px;
}


.cool_facts_area:after {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    content: ''
}

.cool-facts-content > i {
    color: #ffffff;
    font-size: 36px;
}

.counter-area {
    min-width: 100px;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.counter-area > h3 {
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 0;
    line-height: 1;
}

.cool-facts-content > p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 0;
}

/* --------------------------
:: 8.0 Screenshots Area CSS
-------------------------- */

.app_screenshots_slides {
    padding: 0 6%;
}

.app_screenshots_slides .single-shot {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85)
}

.app_screenshots_slides .center .single-shot {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.app-screenshots-area .owl-dot {
    height: 11px;
    width: 11px;
    border: 2px solid #a49fba;
    border-radius: 50%;
    display: inline-block;
    margin: 0 6px;
    margin-top: 50px;
}

.app-screenshots-area .owl-dot.active {
    background-color: #fb397d;
    border: transparent;
}

.app-screenshots-area .owl-dots {
    height: 100%;
    width: 100%;
    text-align: center;
}

/* --------------------------
:: 9.0 Pricing Plan Area CSS
-------------------------- */

.pricing-plane-area {
    background: #f5f9fc;
}

.single-price-plan {
    background: #ffffff;
    border: 1px solid #40A9BF;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 25px;
	height: 100%;
    /* border-radius: 30px 30px 30px 0;
    margin-bottom: 30px; */
}

.single-price-plan .package-plan {
	height: 100px;
    padding: 25px 0;
	background: #103a5b;
    /* border-radius: 30px 30px 0 0; */
}

.single-price-plan .package-plan > h5 {
    color: #5b32b4;
    font-size: 18px;
}


.single-price-plan .package-plan .ca-price h4 {
    color: #fb397d;
    font-size: 48px;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    line-height: 1;
}

.single-price-plan .package-plan .ca-price span {
    font-size: 35px;
    color: white;
}

.single-price-plan .plan-button > a {
    /* background: #726a84; */
    padding: 10px 0;
   /*  border-bottom-right-radius: 30px; */
    color: black;
    font-size: 16px;
    font-weight: 500;
    display: block;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single-price-plan  .package-description .colPriceDefaultImgCls> p {
    margin-bottom: 0;
    /* line-height: 1; */
    padding: 12px 0;
	color: black;
    font-size: 14px;
	margin-top: -18px;
    margin-left: 15px;
	margin-right: 20px;
    /* border-bottom: 1px solid #ebebeb; */
}

.colPriceDefaultImgCls {
	width: 100%;
    background-image: url(images/website/img/pricing-img/tealdot.png);
    background-repeat: no-repeat;
	margin-left: 20px;
    float: left;
}

.single-price-plan .package-description > p:first-child {
    /* border-top: 1px solid #ebebeb; */
}

.single-price-plan.active .package-plan,
.single-price-plan.active .plan-button > a,
.single-price-plan:hover .plan-button > a {
    background-color: #a865e1;
}

.single-price-plan.active .package-plan .ca-price > h4,
.single-price-plan.active .package-plan .ca-price > span,
.single-price-plan.active .package-plan > h5,
.single-price-plan.active .plan-button > a {
    color: #fff;
}


.pricing-chatme{
	height: 60px;
}

.package-description{
	padding-top: 25px;
	line-height: 1.6;
}

.package-description-main{
	margin-left: 10px;
	margin-right: 2px;
	margin-top: 30px;
	color: black;
	line-height: 1.4;
}

.pricing-cont{
	height: 570px;
}

.price-tb{
	margin-bottom:25px;
}

.package-description-sub{
	color: black;
	font-size: 13px;
	font-weight: 600;
}


.package-description-signup{
    position: absolute;
    bottom: 0;
	width: 80%;
}
.package-description-signup-ent{
	position: absolute;
    bottom: 50px;
	width: 80%;
}

.package-description-signup span{
	font-size: 12px;
    font-weight: bold;
    color: #D926A5;
}

.package-description-signup-ent span{
	font-size: 12px;
    font-weight: bold;
    color: #D926A5;
}

.last-cme{
	margin-bottom: 75px;
}

.last-business{
	margin-bottom: 18px;
}

.last-enterprise{
	margin-bottom: 35px;
}

/* --------------------------
:: 10.0 Testimonials Area CSS
-------------------------- */

.clients-feedback-area .client-name > h5 {
    color: #5b32b4;
    font-size: 22px;
    margin-top: 5px;
}

.clients-feedback-area .star-icon > i {
    font-size: 18px;
    color: #f1b922;
}

.clients-feedback-area .client-description > p {
    max-width: 1010px;
    margin: auto;
    margin-bottom: 15px;
    font-size: 22px;
}

.clients-feedback-area .client > i {
    font-size: 48px;
    color: #897ceb;
    margin-bottom: 30px;
}

.clients-feedback-area .client-name > p {
    color: #b5aec4;
}

.clients-feedback-area .slick-dots {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.clients-feedback-area .slick-dots li button {
    width: 12px;
    height: 12px;
    text-indent: -999999999999999999999999px;
    border: 3px solid #a49fba;
    background-color: #fff;
    border-radius: 50%;
    margin: 5.5px;
    outline: none;
}

.clients-feedback-area .slick-dots li.slick-active button {
    background-color: #fb397d;
    border-color: #fb397d;
}

.clients-feedback-area .slick-slide.client-thumbnail {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 129px;
}


.clients-feedback-area .slick-slide img {
    display: block;
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    border: 5px solid #fff;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.clients-feedback-area .slick-slide.slick-current img {
    width: 100px !important;
    height: 100px !important;
}

.clients-feedback-area .slick-arrow {
    position: absolute;
    width: 30px;
    background-color: #fff;
    height: 100%;
    text-align: center;
    font-size: 24px;
    color: #b5aec4;
    display: block;
    line-height: 550%;
    left: 0;
    z-index: 90;
    cursor: pointer;
}

.clients-feedback-area .slick-arrow.fa-angle-right {
    left: auto;
    right: 0;
    top: 0;
}

/* --------------------------
:: 11.0 CTA Area CSS Start
-------------------------- */

.our-monthly-membership {
    background: #a865e1;
    background: -webkit-linear-gradient(to left, #7873ed, #a865e1);
    background: -webkit-linear-gradient(right, #7873ed, #a865e1);
    background: -webkit-gradient(linear, right top, left top, from(#7873ed), to(#a865e1));
    background: -o-linear-gradient(right, #7873ed, #a865e1);
    background: linear-gradient(to left, #7873ed, #a865e1);
}

.membership-description > h2 {
    color: #ffffff;
    font-size: 36px;
}

.membership-description > p {
    color: #ffffff;
    margin-bottom: 0;
}

.get-started-button > a {
    background: #ffffff;
    height: 45px;
    min-width: 155px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    color: #fb397d;
    font-weight: 500;
    border-radius: 23px 23px 23px 0;
}

.get-started-button > a:hover {
    background: #5b32b4;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.get-started-button {
    text-align: right;
}

/* --------------------------
:: 12.0 Team Area CSS Start
-------------------------- */

.member-image {
    margin-bottom: 30px;
    border-radius: 30px 30px 30px 0;
    position: relative;
    z-index: 1;
}

.member-image img {
    border-radius: 30px 30px 30px 0;
}

.member-text > h4 {
    font-size: 22px;
    color: #5b32b4;
}

.member-text > p {
    color: #b5aec4;
    margin-bottom: 0;
}

.team-hover-effects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 75, 228, 0.8);
    border-radius: 30px 30px 30px 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.single-team-member:hover .team-hover-effects {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.team-social-icon {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.team-social-icon > a {
    font-size: 14px;
    color: #fff;
    background: #9a81d7;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px 10px 10px 0;
    display: block;
    margin: 2.5px;
}

.single-team-member {
    margin-bottom: 50px;
}

/* --------------------------
:: 13.0 Contact Area CSS Start
-------------------------- */

.address-text > p,
.phone-text > p,
.email-text > p {
    font-size: 18px;
    margin-bottom: 10px;
}

.address-text > p > span,
.phone-text > p > span,
.email-text > p > span {
    color: #5b32b4;
}

.footer-contact-area .line-shape {
    margin-left: 0;
}

.footer-contact-area .heading-text > p {
    margin-top: 50px;
}

.footer-contact-area .heading-text {
    margin-bottom: 50px;
}

#name {
    font-size: 18px;
    padding: 15px 15px;
    border-radius: 25px 25px 25px 0;
}

/* #email {
    font-size: 18px;
    padding: 15px 15px;
    border-radius: 25px 25px 25px 0;
} */

#message {
    border-radius: 25px 25px 25px 0;
}

.btn.submit-btn {
    background: #fb397d;
    height: 48px;
    min-width: 185px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 22px 25px 22px 0;
}

.btn.submit-btn:hover {
    background: #5b32b4;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.footer-contact-area {
    background: #f5f9fc;
}

.footer-text > p {
    margin-bottom: 50px;
}

/* --------------------------
:: 14.0 Footer Area CSS Start
-------------------------- */

.footer-text > h2 {
    color: #5b32b4;
    font-size: 72px;
    font-weight: 700;
}

.footer-social-icon > a > i {
    background: #9b69e4;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-weight: 500;
    border-radius: 10px 10px 10px 0px;
    margin-right: 10px;
}

.footer-social-icon > a > i:hover {
    background: #fb397d;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.social-icon {
    margin-bottom: 30px;
}

.footer-text {
    margin-bottom: 15px;
}

.footer-menu ul li {
    display: inline-block;
}

/* .footer-menu ul li a {
    border-right: 2px solid #FFFFFF;
    display: block;
    padding: 0 7.5px;
    color: #FFFFFF;
} */
.footer-menu ul li{
	color: #FFFFFF;
}

.footer-social-icon > a .active {
    background: #fb397d;
}

.footer-menu ul li:last-child a {
    border-right: 0 solid #ddd;
}

.footer-social-icon {
    margin-bottom: 30px;
}

.footer-menu {
    font-size: 16px;
} 

.copyrights-cont{
	padding: 15px 0 15px 0;
}

.copyright-text > p {
    margin-bottom: 0;
}


.twitter-feed{
	background:#00b8ff;
	padding:40px 0;
	text-align:center;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.twitter-feed:hover {
	background: #f56eab;
}

.twitter-feed p{
	font-size:16px;
	font-weight: 300;
	color:#ffffff;
	margin:0 0 15px 0;
	}
	
.twitter_bird{
	/*background:url(../img/twitter_bird.png) no-repeat left top;*/
	width:36px;
	margin:0px auto 15px;
	}
	
.twitter-feed p small{
	font-size:16px;
	font-weight: 300;
	color:#ffffff;
	display:inline-block;
	}
	
.twitter-feed span{
	display:block;
	font-size:14px;
	font-style: italic;
	color:#ffffff;
	}

.twitter-feed span i{
	font-size: 38px;
}

/* Contact
---------------------------------*/
.main-section.contact{
	padding:90px 0 100px;
}

.main-section.contact{
	background:url(..images/website/img/bg-map.png) left 190px no-repeat;
}


.contact_section{
	margin:0 0 60px 0;
	}
	
.contact_section h2{
	font-size:40px;
	color:#ffffff;
	margin:0 0 50px 0;
	text-transform:uppercase;
	}
	
.contact_block{
	text-align:center;
	}
	
.contact_block_icon{
    border-radius: 50%;
    height: 85px;
	width:85px;
	margin:0px auto 20px;
	}
.contact_block_icon.icon2{
	border-color:#7cc576;
	}
.contact_block_icon.icon3{
	border-color:#49b5e7;
	}
.contact_block_icon span {
    background: none repeat scroll 0 0 #f56eab;
    border: 5px solid #fff;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}	
.contact_block_icon.icon2{
	border-color:#7cc576;
	}
.contact_block_icon.icon2 span{
	background:#7cc576;
	}
.contact_block_icon.icon3{
	border-color:#49b5e7;
	}
.contact_block_icon.icon3 span{
	background:#49b5e7;
	}
.contact_block_icon i {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    position: relative;
    top: 26px;
    z-index: 20;
}
.contact_block span{
	display:block;
	font-size:16px;
	color:#ffffff;
	line-height:20px;
	}
	
.contact_block span a{
	display:block;
	font-size:16px;
	color:#ffffff;
	line-height:20px;
	}


.contact-info-box{
	font-size:15px;
	margin:0 0 14px 68px;
	padding-left:0;
	
}
.contact-info-box h3{
	font-size: 24px;
	font-weight:600;
	margin:0 0 40px;
	color:#fff;
}

.contact-info-box p{
	line-height:28px;
	display:block;
	font-size:16px;
	color:#ffffff;
	margin:0 0 40px;
}
.social-link{
	/* padding:35px 0;
	margin:0 0 0 80px; */
	display:block;
	overflow:hidden;
	list-style:none;
}
.social-link li{
	float:left;
	margin-right:8px;
	
}
.social-link li a{
	display: block;
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 45px;
    font-size: 25px;
    color: #fff;
    background: #222222;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
	text-decoration:none;
}
.twitter a:hover {
	background: #55acee;
}
.facebook a:hover {
	background: #3b5998;
}
.pinterest a:hover {
	background: #cb2026;
}
.gplus a:hover {
	background: #dd4b39;
}
.dribbble a:hover {
	background: #ea4c89;
}

.form{
	margin:0 66px 0 30px;
}
.input-text{
	padding:15px 16px;
	border:1px solid #ccc;
	width:100%;
	height:50px;
	display:block;
	border-radius:4px;
	font-size:15px;
	color:#aaa;
	font-family: 'OpenSansLight';
	margin:0 0 15px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
	border: 1px solid #7cc576;
	outline:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);	
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area{
	height:230px;
	resize:none;
	overflow:auto;
	font-family: 'OpenSansLight';
}
.input-btn{
	font-family: 'OpenSansLight';
	width:175px;
	height:50px;
	letter-spacing: 0px;
	background:#7cc576;
	border-radius:3px;
	color:#ffffff;
	font-size:16px;
	text-transform:uppercase;
	font-weight:600;
	border:0px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.input-btn:hover{
	background: #fff;
	color: #222;
}

/* -------Support---------- */

.support-form{
	border: 1px solid;
	padding: 25px;
	margin: auto;
}

.section-heading-support{
	font-size: 50px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 15px;
}

.support-submit-btn{
	background:#2d5c88; 
	color: #FFFFFF; 
	padding: 10px; 
	border:0; 
	border-radius: 3px;
}

.support-textarea{
	resize: none;
}


/* --------------- Contact------------------- */

.section-heading-contact{
	font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 15px;
}

.sub-contacts{
	font-size: 40px;
	margin-bottom: 40px;
}

.section_padding_intro_contact {
    padding-top: 0;
    padding-bottom: 50px;
    background-color: aliceblue;
}

.contact-support{
	border: 1px solid;
    background-color: #FFAC2C;
    width: 60%;
    text-align: center;
    padding: 35px;
    height: 150px;
    margin: auto;
    font-size: 25px;
    color: white;
    border-radius: 35px;
	float: right;
}

.contact-pricing{
	border: 1px solid;
    background-color: #FB275D;
    width: 60%;
    text-align: center;
    padding: 35px;
    height: 150px;
    margin: auto;
    font-size: 25px;
    color: white;
    border-radius: 35px;
	float: left;
}

.colorful-title{
	font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
}

.address-comp{
	margin-bottom: 25px;
}
/*------------------- twitter------------------ */

.ctour-twitter{
	border: 1px solid;
}

/*----------------Integration---------------------*/

.section-heading-integration {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 15px;
}

.integrationMainCls {
    border: 1px solid #E0E0E0;
    -webkit-box-shadow: 1px 2px 18px -8px #000;
    -moz-box-shadow: 1px 2px 18px -8px #000;
    box-shadow: 1px 2px 18px -8px #000;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
	max-width: 32%;
	margin-right: 1%;
    float: left;
	padding: 1em;
	
}

.intDriveIcons {
    float: left;
    width: 17%;
}

.integrationHeaderCls {
    font-size: 18px;
    font-weight: 900;
    color: #3A3A3A;
    float: left;
    width: 83%;
    margin-bottom: 4px;
}

.integrationSubHeaderCls {
    float: left;
    font-size: 12px;
    color: #ACB1C0;
    width: 83%;
}

.integrationContentCls {
    font-size: 14px;
    margin-left: 17%;
    line-height: 20px;
    margin-bottom: 20px;
    color: black;
    min-height: 160px;
}

.intLearnMoreCls a {
    font-size: 15px;
    color: #179dba;
    margin-left: 15%;
	position: absolute;
	bottom: 10px;
}
.intDriveIcons img{
	max-height: 40px;
	max-width: 40px;
}

.intDriveIcons_sub img{
	max-height: 40px;
	max-width: 40px;
}

.integrate-detailed{
	background: #FFFFFF;
	padding-top: 3%;
	padding-bottom: 3%;
	border-bottom: 1px solid #ccc;"
}

.driveDetailsHeader {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    float: left;
    width: 100%;
	color:black;
}

.integrationDetailsContentCls{
	color:black;
}

.integrationDetailsContentCls a{
	color: #082ef1;
	
}	
	
.integrated{
	margin: auto;
}

.integrate-cont{
	margin-left: 3%;
	max-width:97%;
}

.img-integratedriver{
	max-width: 3%;
}

.integrate-list{
	padding-left: 20px;
}

.integrate-list li{
	list-style: disc !important;
}

.cards{
	border-bottom: 1px solid #ccc;
}
.integrate_img{
	border-bottom: 1px solid #ccc;
}



/*-----------------------------About Us-----------------*/

.about-head-colored{
	color: #8E49DF;
}

.abt_cont{
	color:black;
	font-size: 18px;
	margin-left: 20px;
	line-height: 1.8;
}

.about_we_one span{
	font-size: 100px;
}

.about_we_one{
	line-height: 1;
	text-align: center;
}
.about_we_one p{
	font-size: 30px;
	color: black;
}

.abt-container{
	border-bottom: 1px solid #ccc;
}

.about_team_img img{
	border-radius: 50%;
    width: 250px;
    height: 250px;
}

.abt_team_content span{
	margin-left: 20px;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.9;
}


/*------------ register -----------------*/

#loginDiv{
	border: 1px solid #40A9BF;
	margin: auto;
}

.register-country{
	display:none;
	width: 100%;
	clear:both;
	padding-left: 0px ! important;
}

.register-timezone{
	display:none;
	width: 100%;
	clear:both;
}

.register-phone{
	display:none;
	padding-left: 0px ! important; 
	width: 100%;
}

#compPhoneNumber{
	float: left;
	width: 97%;
	margin-top:17px;
}

#welcome-msg{
	display:none;
}

/* #email{
	display:none;
} */

#address{
	display:none;
}

.register-exist-company{
	display:none;
}

#checkTrmsCond{
	margin-right: 5px; 
	margin-top: 2px; 
	display: none;
}

.register-showterms{
	vertical-align: top; 
	color: rgb(0, 0, 0); 
	font-size: 12px; 
	cursor: pointer; 
	display: none;
}

.register-img{
	height: 38px;
	padding-left: 30px;
}

.register-product{
	/* padding: 45px 45px 0px 45px; */
	padding: 25px 10px 0px 25px;
}

.register-userdetails{
	padding:50px;
}

.register-head-sub{
	float: left;
	font-size:14px;
	color: #000000;
}

.register-head-main{
	border-bottom: 1px solid #ced4da;
    text-align: left;
    margin-bottom: 15px;
}

.form-group .regLabels.register-head-sub:after{
	content:"*";
	color:red;
}

.register-btn-main{
	padding-bottom: 25px;
}

.register-head-sub-lastname{
	float: left;
	font-size:14px;
	color: #000000;
}

.package-cls{
	display:none;
}

.sign-up-button-register{
	margin-top: 10px;
}

.sign-up-button-register > a {
    color: white !important;
    font-size: 18px;
    display: inline-block;
    border: 2px solid #17a2b8;
    background: #117a8b;
    height: 35px;
    min-width: 160px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 7px;
}

#reg-btn{
	width: 100%;
}
/* Footer
---------------------------------*/

.footer_section{ background:#000000;
}

.footer_bottom{
	border-top:1px solid #333333;
	padding:40px 0;
	}
	
.footer_bottom span{
	display:block;
	font-size:14px;
	color:#cccccc;
	text-align:center;
	}
	
.footer_bottom span a{
	display:inline-block;
	color:#7cc576;
	font-size:16px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	} 

.footer_bottom span a:hover{
	color: #fff;
}

/* Login page */

.bgTransparent{
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:alpha(opacity=50); 
   -moz-opacity: 0.6; 
   opacity: 0.6;
   -khtml-opacity: 0.6;
   z-index:105;position:fixed;display:none;background-color:#4F4F4F;margin:0px;padding:0px;left:0px;top:0px;right:0;bottom:0;
}


.transparentDiv{
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
   filter:alpha(opacity=50); 
   -moz-opacity: 0.4; 
   opacity: 0.4;
   -khtml-opacity: 0.4;
   z-index:1000;
   position:fixed;
   display:none;
   background-color:#000000;
   margin:0px;
   padding:0px;
   left:0px;
   top:0px;
   right:0;
   bottom:0;	
}

.loginColDiv{
	padding: 10% 10% 3% 10%;
}

.loginDivMainLevel{
        border:none !important;
		padding: 5%;
}

.cFluid{
        border:1px solid #40A9BF;
}

.loginLodingBar{
	    display:none;
	    height: 50px;
	    left: 50%;
	    margin-left: -50px;
	    margin-top: -25px;
	    overflow: visible;
	    position: fixed;
	    top: 50%;
	    width: 100px;
	    z-index: 10000;
}


.loginLodingBar img{
	    z-index: 1000; 
	    position:absolute;
}

.loginLodingBar span{
        display:none;
		position: fixed;
		background-position: center;
		left:48%;
		top: 48%;
		color:white;
		font-size:12px;
		z-index:1000;
}


.colLoginForm{
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 10px;
}

.colLoginFormHead{
	float: left; 
	margin-bottom: 20px; 
	padding-left: 0;
	/* display:flex; */
}

.loginTitle span{
	font-size: 20px;
}

.colLoginFormLogo img{
	width: 140px;
}

.promptMsg{
	color: red;margin:auto;
}

.loginGrpForm{
	margin-top: 10px;
}

.formPassword{
	margin-bottom: 15px;
}

.formEmail{
	display:none;
	margin-bottom: 5px;
}

.formCompanyName{
	display:none;
	margin-bottom: 5px;
}

.companyListContainer{
	border: lightgray;
	border-style: solid;
	display:none;
	height:100px;
	background-color:white;
	overflow-y:auto;
}

.companyListDetails{
	margin-left:-12%;
}

.companyList{
	display:none;
	width: 100%;
	clear:both;
	padding-left: 0px ! important;
}

.errorRegLabels{
	color: red;
}

.country{
	width: 100%;
}

.forgetPasswordSubmit{
	justify-content: space-between;
}

.forgetPasswordSubmit p{
	font-size: 13px;
	cursor: pointer;
	padding-left:30px;
}

.btn-info{
	padding: 4px 15px !important;
	cursor:pointer;
}

.otherLogin{
	margin-bottom:25px;
}

.info-SignUp{
	font-size: 13px;
	margin-bottom:25px;
	color:black;
}

.otherLogin_Sub{
	display:inline-flex;
	margin:0 auto;
}

.forgetPasswordPage{
	border-radius: 3px;
	padding: 5%;
	display:none;
	margin:0 auto;
}

.forgetPasswordResetPage{
	border-radius: 3px;
	padding: 5%;
	display:none;
	margin:0 auto;
}

.forget_fluid{
	border:1px solid #40A9BF;
	padding: 10%;
}

.forgetGrpForm{
	width:100%; 
	text-align:center;
}

.forgetGrpForm_Sub1{
	padding-bottom: 25px;
}

.forgetGrpForm_Sub2{
	float: left; 
	margin-bottom: 20px; 
	padding-left: 0;
}

.forgetGrpForm_Sub3{
	height: 55px;
}

.forgetGrpForm_Sub3 img{
	width: 140px;
}

.forgetPass_Head span{
	font-size: 16px;
}

.passwordResetLink{
	display:none;
	font-size: 14px; 
	text-align:justify; 
	padding-bottom: 20px; 
	color: #4D4E5B;
}

.pinBtn{
	display:none;
	padding: 4px 15px !important;
	margin-top:15px;
}

.restPswdMail{
	display: none;
	border-radius: 3px;
	padding: 5%; 
	margin-top: 6%;
}

.formForgetFields{
	padding-top: 10px;
}

.reset_btn{
	float:right;
	padding: 4px 15px !important;
}

.btn-back{
	margin-right:10px;
}







/* Animation Timers
---------------------------------*/
.delay-02s { 
	animation-delay: 0.2s; 
	-webkit-animation-delay: 0.2s; 
}
.delay-03s { 
	animation-delay: 0.3s; 
	-webkit-animation-delay: 0.3s; 
}
.delay-04s { 
	animation-delay: 0.4s; 
	-webkit-animation-delay: 0.4s; 
}

.delay-05s { 
	animation-delay: 0.5s; 
	-webkit-animation-delay: 0.5s; 
}
.delay-06s { 
	animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

.delay-07s { 
	animation-delay: 0.7s; 
	-webkit-animation-delay: 0.7s; 
}
.delay-08s { 
	animation-delay: 0.8s; 
	-webkit-animation-delay: 0.8s; 
}

.delay-09s { 
	animation-delay: 0.9s; 
	-webkit-animation-delay: 0.9s; 
}
.delay-1s { 
	animation-delay: 1s; 
	-webkit-animation-delay: 1s; 
}
.delay-12s { 
	animation-delay: 1.2s; 
	-webkit-animation-delay: 1.2s; 
}